{% extends 'base.html' %}
{% block head %}
	<meta charset="UTF-8">
    <title>Title</title>

{% endblock %}
{% block content %}
    <h1>Welcome back {{ request.user.name }}</h1>
    <div>
        {% for todo in todos %}
            <h3>{{ todo.id }}. <a href="{% url 'todo:todo_details' pk=todo.id %}">{{ todo.title }}</a></h3>
            <p>{{ todo.created_at }}</p>

            <a href="{% url 'todo:todo_update' pk=todo.id %}" class="btn btn-primary">update</a>
    <a href="{% url 'todo:todo_delete' pk=todo.id %}" class="btn btn-danger">Delete</a>
            <hr>
        {% endfor %}
    </div>
{% endblock content %}