{% extends 'base.html' %}

    {% block head %}
        <title>Login</title>
    {% endblock head %}
{% block content %}

  <h2>Login</h2>
  {%if messages%}
        {% for message in messages%}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                ** {{ message }} **
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">close</button>
            </div>
        {%endfor%}
  {%endif%}

  <form method="post">
    {{ form.as_p }}
      {% csrf_token %}
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
{% endblock %}

