<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
  <h2>Login</h2>
  {%if messages%}
        {% for message in messages%}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                ** {{ message }} **
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">close</button>
            </div>
        {%endfor%}
  {%endif%}

  <form method="post">
    {{ form.as_p }}
      {% csrf_token %}
    <button type="submit">Login</button>
  </form>
</body>
</html>